apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: TODO
webhooks:
- name: TODO
  failurePolicy: Fail
  sideEffects: None
  admissionReviewVersions:
  - v1beta1
  - v1alpha1
  rules:
  - apiGroups:
    - "TODO"
    apiVersions:
    - v1alpha1
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - TODO
  clientConfig:
    service:
      namespace: TODO
      name: webhook
      path: /admit/TODO/TODO
    caBundle: CERT
